* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.homePage {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.events {
  list-style: none;
  display: flex;
  flex-direction:  column-reverse;
  gap: 10px;
}

li {
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding: 10px;
}

.titleTime {
  display: grid;
  grid-template-columns: 1fr 90px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.eventList {
  width: 80%;
  margin: 50px auto;
}

.eventDetailPage {
  width: 70%;
  margin: 50px auto;
}

.event {
  border: 2px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.event h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 8px;
}

.event p {
  color: #666;
  font-size: 16px;
  margin-bottom: 4px;
}


.detailP{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailP> p {
    line-height: 1.8;
}

.link:link, .link:visited{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.link:active, .link:hover {
  color: #222;
}

.mainListItem{
  border: 2px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.example {
  text-align: center;
  background: rgba(0,0,0,0.02);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.loadingData{
  margin-top: 50px;
  text-align: center;
}

.updateButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateButton>a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  background-color: aquamarine;
  border: 2px solid #ccc;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 10px;
  margin: 100px auto;
}

label {
  margin-top: 10px;
  font-weight: bold;
  justify-self: end;
}

.formItem input,
.formItem textarea {
  width: 100%; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
}

.formItem textarea{
  height: 200px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


.formItem{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.updateButtonSubmit{
  margin-right: -10px;
  width: 25%;
  margin-left: auto;
}

.newEvent:link,
.newEvent:visited{
  margin-left: auto;
  padding: 10px 30px;
  text-decoration: none;
  background-color: rgb(79, 196, 157);
  color: #fff;
  border-radius: 8px;
}

.newEvent:hover,
.newEvent:active{
  background-color: rgb(52, 179, 136);
}

.newEventLink{
  margin-bottom: 20px;
  display: flex;
}